# Adopters
{{ range .Packages.Ranked }}
{{ avatar .Repository.Owner }} [{{ .Repository.Owner }} / **{{ .Repository.Name }}**]({{ .Repository.URL }})
{{- if .SubPackage }} / **{{ .SubPackage}}**{{ end }}

{{ .Metadata.Description }}
{{ end -}}
