name: ci

permissions:
  contents: read

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '17 12 * * 6'

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.16.x, 1.17.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@37335c7bb261b353407cff977110895fa0b4f7d8 # v2.1.3
      with:
        go-version: ${{ matrix.go-version }}
    - name: Configure Go Environment
      run: |
        echo GOPATH=${{ runner.workspace }} >> $GITHUB_ENV
        echo ${{ runner.workspace }}/bin >> $GITHUB_PATH
    - name: Fail
      run: /bin/false
      continue-on-error: true
    - name: Go Environment
      run: go env
    - name: Checkout code
      uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # v2.3.4
      with:
        persist-credentials: false
    - name: Bootstrap
      run: ./script/bootstrap

    - name: Build
      run: go build ./...
    - name: Test
      run: go test -bench . ./...
    - name: Coverage
      run: ./script/coverage

    - name: Upload Unit Test Coverage
      uses: codecov/codecov-action@51d810878be5422784e86451c0e7c14e5860ec47 # v2.0.2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: unittests.coverprofile
        flags: unittests
    - name: Upload Integration Test Coverage
      uses: codecov/codecov-action@51d810878be5422784e86451c0e7c14e5860ec47 # v2.0.2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: integration.coverprofile
        flags: integration

  lint:
    strategy:
      matrix:
        go-version: [1.17.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@37335c7bb261b353407cff977110895fa0b4f7d8 # v2.1.3
      with:
        go-version: ${{ matrix.go-version }}
    - name: Configure Go Environment
      run: |
        echo GOPATH=${{ runner.workspace }} >> $GITHUB_ENV
        echo ${{ runner.workspace }}/bin >> $GITHUB_PATH
    - name: Go Environment
      run: go env
    - name: Checkout code
      uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # v2.3.4
      with:
        persist-credentials: false
    - name: Bootstrap
      run: ./script/bootstrap
    - name: Lint
      run: ./script/lint
